      <form class="form-signin" novalidate  (ngSubmit)="onSubmit()" [formGroup]="user">
        <h2 class="form-signin-heading">Please sign in</h2>
        <label for="inputEmail" class="sr-only">Login</label>
        <input type="email" id="inputEmail" class="form-control" placeholder="Login" formControlName="userName" required autofocus>
        <div class="alert alert-danger" *ngIf="user.get('userName').hasError('required') && user.get('userName').touched">
                Name is required
            </div>
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="inputPassword" formControlName="password" class="form-control" placeholder="Password" required>
        <div class="alert alert-danger" *ngIf="user.get('password').hasError('required') && user.get('password').touched">
                Password is required
        </div>

        <label for="selectCompany" class="sr-only">Company:</label>
        <select id="selectCompany" class="form-control" formControlName="company">
          <option value="">Company</option>
          <option *ngFor="let company of companies"
              [value]="company.name">
            {{company.name}}
          </option>
        </select>
        <div class="alert alert-danger" *ngIf="user.get('company').hasError('required') && user.get('company').touched">
            Company is required
        </div>

        <button class="btn btn-lg btn-primary btn-block" type="submit" [disabled]="!user.valid">Sign In</button>

        <div class="alert alert-danger" *ngIf="errorMessage">
                {{errorMessage}}
            </div>
      </form>
