

    <nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse mb-4">
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a href="" class="nav-link" [routerLink]="['/']">Home</a>
          </li>
          <li class="nav-item">
            <a href="" class="nav-link" [routerLink]="['/login']">Login</a>
          </li>
          <li class="nav-item">
            <a href="" class="nav-link" [routerLink]="['/admin']">Admin</a>
          </li>
          <li *ngIf="logged" class="nav-item">
            <a href="" class="nav-link" (click)="logout()" >Logout</a>
          </li>

        </ul>
      </div>
    </nav>
